table {
    border-collapse: collapse;
    width: 500px;
}
th {
    background-color: #54585d;
    border: 1px solid #54585d;
}
th:hover {
    background-color: #64686e;
}
th a {
    display: block;
    text-decoration:none;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}
th a i {
    margin-left: 5px;
    color: rgba(255,255,255,0.4);
}
td {
    padding: 10px;
    color: #636363;
    border: 1px solid #dddfe1;
}
tr {
    background-color: #ffffff;
}
tr .highlight {
    background-color: #f9fafb;
}
.view-review{
    width: 45%;
}
.add-review{
    width: 45%;
}

